
.password-hide,.password-show{
    &:after{
        content: "";
        font-family: 'Material Symbols Rounded';
        color: $gray-500;
    }
}
.password-show{
    &::after{
        content: "\e8f4";
    }
}
.password-hide{
    &::after{
        content: "\e8f5";
    }
}

//React select
.css-qc6sy-singleValue{
    color: var(--#{$prefix}input-color)!important;
}
.select__control{
    border-width:$input-border-width!important;
    border-color: var(--#{$prefix}border-color-translucent)!important;
    box-shadow: none!important;
    background-color: var(--#{$prefix}body-bg)!important;
    padding: $input-padding-y $input-padding-x!important;
    border-radius: $input-border-radius!important;
    min-height: auto!important;
    line-height: $input-line-height!important;
    font-size: $input-font-size!important;
    .select__value-container{
        padding: 0!important;
    }
    .select__indicators .select__indicator{
        padding: 0rem .5rem!important;
        padding-right: 0!important;
    }
    .select__indicator-separator{
        margin: 0px!important;
    }
    .select__dropdown-indicator{
        color: currentColor!important;
        &:hover{
            color: currentColor!important;
            opacity: .5;
        }
    }
}
.select__menu{
    color:var(--#{$prefix}gray-900)!important;
}
.select__indicator-separator.css-11lcxm2-indicatorSeparator{
    color:var(--#{$prefix}border-color)!important;
}